body {
    font-size: 20pt;
}

#message {
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 17pt;
    padding: 10px;
    position: relative;
    width: auto;
    height: 25px;
    margin-top: 10px;
    background-color: lightgoldenrodyellow;
}

input {
    font-size: 20pt;
    border: 1px solid gray;
    padding: 10px;
    background-color: lightblue;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
}

#amount {
    text-align: right;
    padding: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 5px;
    width: 100%;
}

#phoneNumber,
.pnumber {
    background-color: navy;
    color: rgb(228, 206, 15);
    font-size: 25pt;
    border-radius: 7pt;
    text-align: left;
    width: 100%;
    letter-spacing: 6px;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20pt;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 5px;
    /* float: right; */
}

button:hover {
    border-color: red;
    background-color: lemonchiffon;
    color: blue;
}

button:active {
    box-shadow: 2px 2px 2px gray;
    transform: translateY(3px);
}

.btnNumberDown {
    background-color: lightgreen;
    border-color: cyan;
}

.btnDelete {
    background-color: rgb(255, 220, 220);
}

.btnClear {
    background-color: lightblue;
}

.amount {
    font-size: 15pt;
    padding: 15px;
    margin-left: 20px;
}

.save,
.cancel {
    /* font-size: 20pt; */
    /* padding: 15px; */
    margin-top: 0px;
    margin-left: 20px;
}

.cancel {
    background-color: lightpink;
}

.save {
    background-color: darkorange;
}

td {
    padding: 5px;
}

.inputCaption {
    text-align: right;
    width: 70px;
}

.inputField {
    width: 300px;
}

.keypad {
    text-align: center;
}

.footer {
    font-size: 8pt;
    color: gray;
}

#mlogzone,
#phoneZone {
    border: 1px solid gray;
    width: 300px;
    height: 300px;
    padding: 7px;
    position: absolute;
    box-shadow: 5px 5px 5px gray;
    /* padding-top: 0px; */
}

#mlogzone {
    background-color: antiquewhite;
    left: 510px;
    top: 247px;
}

#phoneZone {
    background-color: darkolivegreen;
    left: 10px;
    top: 100px;
}

#mileageLog,
#phoneLog {
    border: 1px solid gray;
    background-color: beige;
    height: 278px;
    width: 298px;
    overflow: scroll;
    font-size: 15pt;
}

.mlgNumber,
.mlgAmount,
.mlgDate {
    /* border: 1px solid gray; */
    /* background-color: lightgray; */
    font-size: 10pt;
    float: left;
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    /* line-height:  */
}

.mlgAmount,
.pTotal {
    width: 90px;
    text-align: right;
    font-size: 11pt;
    color: darkblue;
    font-weight: bold;
    /* border: 1px solid gray */
}

.mlgDate,
.pNumber {
    width: 150px;
    float: right;
    color: gray;
    /* border: 1px solid gray */
}

.mlgNumber {
    width: 35px;
    text-align: right;
    padding-right: 3px;
    color: gray;
    /* border: 1px solid gray */
}