body {
    font-size: 20pt;
}

#message {
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 17pt;
    padding: 10px;
    padding-bottom: 15px;
    position: relative;
    width: auto;
    height: 25px;
    margin-top: 10px;
    background-color: lightgoldenrodyellow;
}

input {
    font-size: 20pt;
    border: 1px solid gray;
    padding: 10px;
    background-color: lightblue;
    text-align: center;
}

#amount {
    text-align: right;
    border-radius: 5px;
    width: 100%;
}

#phoneNumber {
    background-color: navy;
    color: rgb(228, 206, 15);
    font-size: 30pt;
    border-radius: 7pt;
    text-align: left;
    width: 100%;
}


/* .btnNumber,
.btnDelete,
.btnClear  */

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20pt;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
    /* float: right; */
}

.btnNumberDown {
    background-color: lightgreen;
    border-color: cyan;
}

.btnDelete {
    background-color: rgb(255, 220, 220);
}

.btnClear {
    background-color: lightblue;
}

.amount {
    font-size: 15pt;
    padding: 15px;
    margin-left: 20px;
}

.save,
.cancel {
    font-size: 20pt;
    padding: 17px;
    margin-top: 0px;
    margin-left: 20px;
}

.cancel {
    background-color: lightpink;
}

td {
    padding: 5px;
}

.inputCaption {
    text-align: right;
    width: 70px;
}

.inputField {
    width: 300px;
}

.keypad {
    text-align: center;
}

.footer {
    font-size: 8pt;
    color: gray;
}